#tasks {
    margin-top: 40px;
}

.task-list {
    margin: 20px 0;
}

.task {
    padding: 10px;
    list-style: none;
    border: solid 1px #e5e5e5;
    border-bottom: none;
    cursor: default;
}

.task:first-child {
    border-radius: 6px 6px 0 0;
}

.task:last-child {
    border-bottom: solid 1px #e5e5e5;
    border-radius: 0 0 6px 6px;
}

.task h1 {
    font-size: 20px;
    margin: 0;
    line-height: 20px;
}

.task p {
    margin: 10px 0 0;
    display: none;
}

.task form {
    margin: 0;
}

.task form input, .task form textarea {
    margin: 0;
}
