<div class="control-group title">
  <input class="title-field" name="title" type="text" placeholder="Title" value="{{model.title}}" />
  <span class="help-inline"></span>
</div>
<div class="control-group desc">
  <textarea class="desc-field" name="description" rows="3" placeholder="Description">{{model.description}}</textarea>
</div>
<div class="btn-group">
  <button type="submit" class="btn btn-success" title="Save"><i class="icon-edit icon-white"></i></button>
  <button type="button" class="btn btn-danger delete" title="Delete"><i class="icon-trash icon-white"></i></button>
  <button type="button" class="btn cancel" title="Cancel"><i class="icon-chevron-up"></i></button>
</div>
