<div class="control-group">
  <input class="title" type="text" placeholder="Title" value="{{title}}" />
</div>
<div class="control-group">
  <textarea class="description" rows="3" placeholder="Description">{{description}}</textarea>
</div>
<input type="submit" class="btn btn-success" value="Save" />
<input type="button" class="btn btn-danger delete" value="Delete" />
<input type="button" class="btn cancel" value="Cancel" />
