<div class="control-group">
  <input class="title" type="text" placeholder="Title" value="{{title}}" />
</div>
<div class="control-group">
  <textarea class="description" rows="3" placeholder="Description">{{description}}</textarea>
</div>
<div class="btn-group">
  <button type="submit" class="btn btn-success" title="Save"><i class="icon-edit icon-white"></i></button>
  <button class="btn btn-danger delete" title="Delete"><i class="icon-trash icon-white"></i></button>
  <button class="btn cancel" title="Cancel"><i class="icon-chevron-up"></i></button>
</div>
